html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    Height: 100%;
}

body {
    background-color: turquoise;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}


#boks {
    width: 500px;
    height: 500px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
}

#Button {
    border: 2px solid red;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 50px;
}